@charset "utf-8";

* {
    margin: 0px;
}

#introduction {
    height: 1000px;
    width: 1000px;
    margin: auto auto;
}

body {
    background: #34495e;
}

@font-face {
    src:  url("../assets/fonts/source-code-pro/SourceCodePro-Regular.ttf");
    font-family: "source-code-pro"
}

@font-face {
    src: url("../assets/fonts/ubuntu-mono/UbuntuMono-R.ttf");
    font-family: "ubuntu-mono"
}

h1 {
    color: #7f8c8d;
}
h2 {
    color: #7f8c8d;
}
h3 {
    color: #7f8c8d;
}

a:link {
    color: #7f8c8d;
    text-decoration: none;
    font-family: "ubuntu-mono";
}

a:visited {
    color: #7f8c8d;
    text-decoration: none;
    font-family: "ubuntu-mono";
}

a:hover {
    color: #7f8c8d;
    text-decoration: underline;
    font-family: "ubuntu-mono";
}

.wrapper {
    margin-left: 40px;
    margin-right: 40px;
}

/**********
 *  HEADER
 */
header {
    position: relative;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #10253A;
    border-bottom: solid #898989 2px;
}

.topLinks {
    list-style-type: none;
    white-space: nowrap;
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 20px;
}
.topLink {
    padding-left: 50px;
    font-size: 42px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.logoTop {
    max-width: 100px;
    max-height: 100px;
    padding: 0px;
}

#logoTopObject {
    margin-left: 40px;
}

/**********
 *  CONTENT
 */
#content {
    position: relative;
    width: 100%;
    height: 100%;
/*    background: #34495e;*/
    text-align: center;
    margin-bottom: 0;
}

.innerContent {
    position: relative;
    width: 100%;
    height: 100%;
/*    background: #34495e;*/
    text-align: center;
}

#mainCanvas {
    width: 100%;
    height: 100%;
/*    background: #34495e;*/
    margin: 0 0;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.foreground {
    z-index: 1;
}
/**********
 *  FOOTER
 */
footer {
    text-align: center;
    position: relative;
    height: 50px;
    padding: 20px;
    bottom: 20px;
}

#githubLogo {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

h1.footer {
    color: #7f8c8d;
    font-size: 26px;
    font-family: "Myriad Pro Regular"
}