
* {
    margin: 0px;
}

.pink {
    background: 'pink'
}

.header {
    position:absolute;
    top:10px;
    left:10px;
    right: 10px;
    height: 20px;
    color: white;
    font-family: courier;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.header ul li {
    display: inline;
}

#countdown {
    text-align: center;
    font-size: 20;
    color: white;
    font-family: courier;
}

#health {
    color: #f24e3f;
    font-size: 20px;
    border-bottom: solid 1px #f24e3f;
    padding-right: 0px;
    margin-right: 0px;
    float: left
}
#injury {
    color: #c0c0c0;
    font-size: 20px;
    border-bottom: solid 1px #c0c0c0;
    float: left
}
#score {
    float: right;
    font-size: 20px;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startUl {
    margin: 10px 0px;
    list-style-type: none;
    text-align: center;
}

.startButton {
    padding: 20px;
    margin: 10px 0px;
    width: 300px;
    font-size: 72;
}
/*.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}*/

.btn {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #00b3ff;
  padding: 10px 20px 10px 20px;
  border: dotted #23e96b 4px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#content {
    color: white;
}

body {
    background: black;
}
