@charset "utf-8";

*{
    margin: 0px;
}





.MathJax_Display, .MathJax_Preview, .MathJax {
  
}




// Everything below this line is crap
/*******************
 *  FOOTER
 */
footer {
    text-align: center;
    position: relative;
    height: 50px;
    padding: 20px;
}

#githubLogo {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

/*******************
 * PAGE CONTENT
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $med-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/*******************
 * POSTS
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    .MathJax_Display, .MathJax_Preview, .MathJax {
        font-size: $base-font-size;
        font-family: "myriad-pro";
        color: darken($grey-color-darkest, 20%);
    }

    p, li, tr, th {
        font-size: $base-font-size;
        font-family: "myriad-pro";
        color: $grey-color-darkest;
    }

    li {
        color: darken($grey-color-darkest, 10%);
    }

    h2 {
        font-size: 32px;
        font-family: "myriad-pro";

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-family: "myriad-pro";

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-family: "myriad-pro";

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
