@charset "utf-8";

*{
    margin: 0px;
}

body {
    background: #34495e;
}

@font-face {
    src: url("../assets/fonts/source-code-pro/SourceCodePro-Regular.ttf");
    font-family: "source-code-pro";
}

@font-face {
    src: url("../assets/fonts/ubuntu-mono/UbuntuMono-R.ttf");
    font-family: "ubuntu-mono";
}

@font-face {
    src: url("../assets/fonts/myriad-pro/MYRIADPRO-REGULAR.woff");
    font-family: "myriad-pro";
}

h1 {
    color: #7f8c8d;
}
h2 {
    color: #7f8c8d;
}
h3 {
    color: #7f8c8d;
}

a:link {
    color: #7f8c8d;
    text-decoration: none;
    font-family: "ubuntu-mono";
}

a:visited {
    color: #7f8c8d;
    text-decoration: none;
    font-family: "ubuntu-mono";
}

a:hover {
    color: #7f8c8d;
    text-decoration: underline;
    font-family: "ubuntu-mono";
}

.wrapper {
//    margin-left: 40px;
//    margin-right: 40px;
}

/*******************
 *  HEADER
 */
header {
    position: relative;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #10253A;
    border-bottom: solid #898989 2px;
}

.topLinks {
    list-style-type: none;
    white-space: nowrap;
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 20px;
    margin-left: 0px;
}
.topLink {
    padding-left: 50px;
    font-size: 42px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.logoTop {
    max-width: 100px;
    max-height: 100px;
    padding: 0px;
}

#logoTopObject {
    margin-left: 40px;
}

/*******************
 *  CONTENT
 */
#content {
    position: relative;
    width: 100%;
    height: 100%;
    background: #34495e;
    text-align: center;
    margin-bottom: 0;
}

.innerContent {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #34495e;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#mainCanvas {
    width: 100%;
    height: 100%;
    background: #34495e;
    margin: 0 0;
}

.background {
    z-index: -1;
}

.foreground {
    z-index: 1;
}

.rssLogo {
    max-height: 16px;
    max-width: 16px;
}
/*******************
 *  FOOTER
 */
footer {
    text-align: center;
    position: relative;
    height: 50px;
    background: #34495e;
    padding: 20px;
    font-family: "myriad-pro";
}

#githubLogo {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

h1.footer {
    color: #7f8c8d;
    font-size: 26px;
    font-family: "myriad-pro";
}

/*******************
 * PAGE CONTENT
 */
.page-content {
    font-family: "myriad-pro";
    padding: $spacing-unit 0;
}

.page-heading {
    font-family: "myriad-pro";
    font-size: 20px;
}

.post-list {
    font-family: "myriad-pro";
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-family: "myriad-pro";
    font-size: $med-font-size;
    color: $grey-color;
}

.post-link {
    font-family: "myriad-pro";
    display: block;
    font-size: 24px;
    font-family: "myriad-pro";
}



/*******************
 * POSTS
 */
.post-header {
    margin-bottom: $spacing-unit;
    font-family: "myriad-pro";
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-family: "myriad-pro";

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    
    table {
//        border: solid white 1px;
        
        th {
            border-bottom: solid white 1px;
            border-top: solid white 1px;
        }
        
        tr {
            border-bottom: solid white 1px;
            border-top: solid white 1px;
        }
        
        td {
//            border-left: solid white 1px;
        }
    }
    
    .MathJax_Display, .MathJax_Preview, .MathJax {
        font-size: $base-font-size;
        font-family: "myriad-pro";
        color: darken($grey-color-darkest, 20%);
    }
    
    p, li, tr, th {
        font-size: $base-font-size;
        font-family: "myriad-pro";
        color: $grey-color-darkest;
    }
    
    li {
        color: darken($grey-color-darkest, 10%);
    }
    
    h2 {
        font-size: 32px;
        font-family: "myriad-pro";

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-family: "myriad-pro";

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-family: "myriad-pro";

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*******************
 * COMMENT SECTION
 */

.comment-count {
  
}